Repository sparcians/map, pull requests merged in 2020-03, with the labels that each got.

#47 Make QueueIterator::isValid() const and fix typo
  sparta/sparta/resources/Queue.hpp
Labels: bug

#42 Add perfect forwarding push-like functions of resources
  sparta/sparta/resources/Array.hpp
  sparta/sparta/resources/Buffer.hpp
  sparta/sparta/resources/CircularBuffer.hpp
  sparta/sparta/resources/FrontArray.hpp
  sparta/sparta/resources/Pipe.hpp
  sparta/sparta/resources/Pipeline.hpp
  sparta/sparta/resources/SharedData.hpp
  sparta/sparta/utils/ValidValue.hpp
  sparta/test/Array/Array_test.cpp
  sparta/test/Buffer/Buffer_test.cpp
  sparta/test/CircularBuffer/CircularBuffer_test.cpp
  sparta/test/Pipeline/Pipeline_test.cpp
  sparta/test/Queue/Queue_test.cpp
  sparta/test/SharedData/SharedData_test.cpp
Labels: enhancement

#61 SpartaSharedPointer: completely nullified the moved SpartaSP object
  sparta/sparta/utils/SpartaSharedPointer.hpp
  sparta/test/SpartaSharedPointer/SpartaSharedPointer_test.cpp
Labels: component: sparta

#64 Queue In-place construction
  sparta/sparta/resources/Queue.hpp
  sparta/sparta/utils/SpartaSharedPointer.hpp
  sparta/test/Queue/Queue_test.cpp
Labels: bug, component: sparta

#75 Sparta handler for const method
  sparta/sparta/kernel/SpartaHandler.hpp
  sparta/test/MethodDelegate/main.cpp
Labels: component: sparta, enhancement

#76 PairDefinition use requires a type named `type`. Change it to 'SpartaPairDefinitionType'.
  sparta/example/CoreModel/src/ExampleInst.hpp
  sparta/example/CoreModel/src/LSU.hpp
  sparta/sparta/collection/Collectable.hpp
  sparta/sparta/pairs/SpartaKeyPairs.hpp
  sparta/sparta/pevents/NestedPeventCollector.hpp
  sparta/test/NestedPEvents/NestedPEventHelper_test.cpp
  sparta/test/PairCollector/Collectable_test.cpp
Labels: component: sparta, enhancement

#80 Add in place construction of Array
  sparta/.gitignore
  sparta/sparta/resources/Array.hpp
  sparta/sparta/resources/Queue.hpp
  sparta/test/Array/Array_test.cpp
Labels: bug, enhancement

#86 Fix Assignment operator for Queue::iterator, Pipeline::iterator
  sparta/sparta/resources/Pipeline.hpp
  sparta/sparta/resources/Queue.hpp
Labels: bug, component: sparta
