Repository sparcians/map, pull requests merged in 2020-08, with the labels that each got.

#181 Knutel/issue 178 queue repairs
  sparta/sparta/resources/Queue.hpp
  sparta/test/Queue/Queue_test.cpp
Labels: component: sparta

#182 Added missing brew package `binutils` for MacOS
  sparta/README.md
Labels: component: sparta, documentation

#189 Knute/issue 183 pipe view docs
  README.md
  helios/README.md
  helios/pipeViewer/README.md
  sparta/doc/sparta_docs/core_example_readme.txt
  sparta/doc/sparta_docs/formats.txt
Labels: component: pipeViewer, documentation

#190 Cleaned up Array; added push_back/front and invalid iterators
  sparta/sparta/resources/Array.hpp
  sparta/sparta/resources/FrontArray.hpp
  sparta/test/Array/Array_test.cpp
Labels: component: sparta, enhancement

#194 fix build fail if map is not a root project of cmake
  CMakeLists.txt
  helios/pipeViewer/transactiondb/CMakeLists.txt
  sparta/CMakeLists.txt
Labels: bug, dependencies, enhancement

#192 Knutel/issue 152 functional changes
  sparta/doc/Doxyfile
  sparta/doc/sparta_docs/modeling.txt
  sparta/sparta/collection/Collectable.hpp
  sparta/sparta/functional/ArchDataSegment.hpp
  sparta/sparta/functional/DataView.hpp
  sparta/sparta/functional/Register.hpp
  sparta/sparta/functional/RegisterDefinitionSet.hpp
  sparta/sparta/memory/BlockingMemoryIF.hpp
  sparta/sparta/memory/DMI.hpp
  sparta/sparta/memory/MemoryObject.hpp
  sparta/sparta/memory/SimpleMemoryMapNode.hpp
Labels: component: sparta, documentation
