Repository sparcians/map, pull requests merged in 2022-04, with the labels that each got.

#326 Added sparta libraries to the transactiondb linking
  helios/pipeViewer/transactiondb/CMakeLists.txt
  helios/pipeViewer/transactiondb/setup.py
Labels: bug

#327 Update README.md
  sparta/README.md
Labels: documentation, component: sparta

#330 Fixed YAML include property issue
  sparta/cmake/sparta-config.cmake
Labels: bug, component: sparta

#331 Fixed overwriting a valid entry in sparta::Array
  sparta/sparta/resources/Array.hpp
  sparta/test/Array/Array_test.cpp
Labels: bug
